<h1>Subs#show</h1>
<p>Find me in app/views/subs/show.html.erb</p>

<h1>
  <%= @current_sub.title %>
</h1>

<h4>
  <%= @current_sub.description %>
</h4>

<a href="<%= subs_url %>">Subs</a>
<a href="<%= edit_sub_url(@current_sub) %>">Edit Sub</a>

Posts

<a href="<%= new_post_url %>">New Post</a>
<ul>
  <% @posts.each do |post| %>
  <li>
    <a href="<%= post_url(post) %>"><%= post.title %></a>
  </li>
  <% end %>
</ul>
