<!DOCTYPE html>
<html>
  <head>
    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  
  <h1><%= current_user.username if current_user %></h1>
  <% action = current_user ? session_url : new_session_url %>
  <% method = current_user ? "delete" : "get" %>
  <% button_text = current_user ? "Log Out" : "Log In"%>
  
  <form class="" action="<%= action %>" method="post">
    <input type="hidden" name="_method" value="<%= method %>">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="submit" value="<%= button_text %>">
  </form>
  
  <body>
    <%= yield %>
  </body>
</html>
