<h1><%= @band.name %> Albums</h1>

<a href="<%= bands_url %>">Back to bands</a>

<ul>
  <% @albums.each do |album| %>
    <h2><%= album.title %> </h2>
    <p>Year: <%= album.yr %></p>
    <p>Type: <%= album.studio ? 'studio' : 'live' %></p>
    <div>
      <!--Detail button-->
      <a href="<%=album_url(album)%>">Details</a>
      <!--Edit button-->
      <a href="<%=edit_album_url(album)%>">Edit Album</a>
      <!--Delete button-->
      <form action="<%=album_url(album)%> " method="post">
        <input type="hidden" name="_method" value="delete">
        <%= auth_token %>
        <input type="submit" value="delete">
      </form>
    </div>
  <% end %>
</ul>

<!--Create album-->
<a href="<%=new_band_album_url(@band.id)%>">Add album!</a>
